html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(20, 20, 20, 1);
}

body {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #000000;
  border: 2px solid #3a316d;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #524983;
  color: white;
}

#hud span.field {
  padding-right: 0.5em;
  padding-bottom: 1em;
  display: inline-block;
  margin: 0;
  position: relative;
  top: 50%;
}

.parent {
  cursor: default;
  padding: 2rem 2rem;
  text-align: center;
}

#lgtxt {
  font-size: 2.0em;
  color: #ccc;
}

.child {
  color: #B0B0B0;
  display: inline-block;
  padding: 1rem 1rem;
  align-content: space-between;
  vertical-align: middle;
  background-color: #00000000;
  border: 1px ridge #000000;
}

.OpenIn {
  padding: 1rem;
  text-align: center;
  display: inline-block;
}

.innerparent {
  text-align: center;
}

.label {
  color: #B0B0B0;
  text-align: left;
  vertical-align: middle;
  font-size: 1.4rem;
}

textarea {
  cursor: text;
  text-decoration: none;
  color: #B0B0B0;
  background-color: #000;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px ridge #000000;
  border-radius: 4px;
  font-size: 16px;
  resize: both;
  overflow: auto;
}

#services {
  margin-bottom: 20px;
}

#scratchpad {
  width: 80%;
  height: 200px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

textarea::placeholder {
  font-size: 18px;
  color: #2d255b;
}

.topParent {
  padding: 1rem 1rem;
  text-align: center;
  display: block;
}

.topChild {
  color: #B0B0B0;
  display: inline-block;
  padding: 1rem;
}

#airerr,
#meterr,
#skyerr {
  color: #FFAA6F;
}

#about {
  position: relative;
  top: 5px;
  right: 20px;
  text-align: right;
}

#about a {
  font-size: medium;
  color: #BCC0E3;
  text-decoration: none;
  font-family: monospace;
}